
<form method="post">
    Movie Title: <input type="text" name="title" /><br />
    Budger:<input type="number" name="budget" /><br />
    Revenue:<input type="number" name="revenue" /><br />
    @*after submitting, form submit the name with value to back end*@
    <input type="button" value="Save Movie" />
</form>
